
<header>
    <!-- <h1> {{ title }} </h1> -->
</header>

<div class="container border border-primary">
    <div class="row">

        <div class="container-celsius">
            <h3>Celsius</h3>
            <input class="form-control" type="number" [(ngModel)]="celsius">
        </div>
   

        <div class="container-farenheit">
            <h3>Farenheit</h3>
            <input class="form-control" type="number" [(ngModel)]="farenheit">
        </div>

    
        <div class="container-button">
            <div class="row">

                <div class="col">
                    <button type="button" class="btn btn-primary btn-celsius" (click)="calculateFar()">Celsius</button>
                </div>

                <div class="col d-flex flex-row-reverse">
                    <button type="button" class="btn btn-outline-secondary" (click)="calculateCel()">Farenheit</button>
                </div>

            </div>
        </div>

    </div>
</div>


