
<header>
    <h1> {{ title }} </h1>
    
</header>

<div>
    <h3>Celsius</h3>
    <!-- <input type="number" [value]="cel"> -->
    <input type="number" [(ngModel)]="celsius">
    <!-- <p>{{celsius}}</p> -->
    
</div>

<br>

<div>
    <h3>Farenheit</h3>
    <input type="number" >
</div>

<br>

<div>
    <!-- Cancel temporary -->
    <!-- <app-button color="blue" text="" (btnClick)="btnCelTask()"></app-button>
    <app-button color="green" text="Farenheit" (btnClick)="btnFarTask()"></app-button> -->

    <button type="button" class="btn btn-primary" (click)="btnCelTask()">Celsius</button>
    
    <br><br>

    <button type="button" class="btn btn-secondary" (click)="btnFarTask()">Farenheit</button>
</div>

